<main>
    <img id="bolos" src="../../assets/imagens/slide5 1.png">

    <p class="subtitulos">Mais Vendidos</p>

    <div class="bolos">
        <div class="cenoura">
            <img src="../../assets/imagens/cenoura 1.png">
            <p>Bolo de Cenoura</p>
        </div>

        <div class="fuba">
            <img src="../../assets/imagens/fuba 1.png">
            <p>Bolo de Fuba</p>
        </div>

        <div class="laranja">
            <img src="../../assets/imagens/larnja 1.png">
            <p>Bolo de Laranja</p>
        </div>
    </div>

    <p class="subtitulos">Aproveite</p>

    <div class="assinaturas">
        <div class="clubeAssinatura">
            <h2>Clube Assinatura</h2>
            <p>Se torne cliente fidelizado e receba divresas vantagens</p>
            <button>Saiba mais</button>
        </div>

        <div class="monteSeuBolo">
            <h2>Monte seu Bolo</h2>
            <p>Escolha os ingredientes e receba um bolo feito para você!</p>
            <button>Saiba mais</button>
        </div>
    </div>
</main>
