<main>
    <p class="subtitulo">Bolos</p>
    
    <div class="ajuste">

        <div class="esquerda">
            
            <div class="fuba">
                <p>Bolo de Fubá</p>
                <div class="informacoes">
                    <p class="RS">R$</p><p class="valor">15,00</p>

                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </div>
            </div>
            <div class="coco">
                <p>Bolo de Coco</p>
                <div class="informacoes">
                    <p class="RS">R$</p><p class="valor">15,00</p>

                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </div>
            </div>

            <div class="cenoura">
                <p>Bolo de Cenoura</p>
                <div class="informacoes">
                    <p class="RS">R$</p><p class="valor">18,00</p>

                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </div>
            </div>
        </div>

        <div class="direita">
            <div class="laranja">
                <p>Bolo de Laranja</p>
                <div class="informacoes">
                    <p class="RS">R$</p><p class="valor">15,00</p>

                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </div>
            </div>

            <div class="limao">
                <p>Bolo de Limão</p>
                <div class="informacoes">
                    <p class="RS">R$</p><p class="valor">15,00</p>

                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </div>
            </div>

            <div class="casada">
                <p>Bolo de casada</p>
                <div class="informacoes">
                    <p class="RS">R$</p><p class="valor">18,00</p>

                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </div>
            </div>
        </div>
 
    </div>
    
    <div class="cadastrar">
        <div class="ajustarTudo">
            <div id="bolo">
                <label for="Bolo">Bolo</label>
                <div class="bolo">
                    <input type="text" name="Bolo" id="Bolo">
                </div>
            </div>

            <div id="preco">
                <label for="Preço">Preço</label>
                <div class="preco">
                    <input type="text" name="preço" id="Preço">
                </div>
            </div>
            <br>
            <button type="submit">Cadastrar</button>
        </div>   
    </div>

</main>
