<app-header></app-header>

<main>

    <form [formGroup]="form">
    <div class="titulo_e_img">
        <h1>Filmes</h1><br>
        <img src="../../assets/imagens/cinema 1.png">
    </div>

    <h2>Cadastrar Filmes</h2>

    <div class="infs">
        <input type="text" name="nome" id="nome" placeholder="Título do Filme" formControlName="nome" required>
        <select name="genero" id="genero" formControlName="genero" required>
        <option [value]="item.id" *ngFor="let item of generos; index as i;">{{item.genero}}</option>
        </select>
        <button type="submit" class="salvar" (click)="SalvarDadosFilmes()" *ngIf="!verificarEditar">Salvar</button>
        <button type="submit" class="salvar" (click)="EditarFilme1()" *ngIf="verificarEditar">Editar</button>
    </div>
    </form>


    <div class="ajuste_filmes">

        <div class="filmes" *ngFor="let item of filmes; index as i;" >
            <p>{{item.nome}}</p>
            <p>{{item.genero?.genero}}</p>
            <button class="editar" (click)="EditarFilme2(item)">Editar</button>
            <button class="excluir" (click)="ExcluirFilme(item.id)">Excluir</button>
        </div>
        
    </div>

    <div class="navegacao">
        <button id="pag_anterior"><a routerLink="/usuarios">Página Anterior</a></button>
        <button id="proxima_pag"><a routerLink="/generos">Próxima Página</a></button>
    </div>

</main>
