main{
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Roboto';
}

h1{
    font-size: 24px;
    margin: 0;
}

h2{
    font-size: 20px;
    margin-top: 30px;
}

.titulo_img{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_e_botao{
    display: flex;
    justify-content: space-between;
}

input{
    width: 40%;
    height: 40px;
}

p{
    width: 150px;
    margin: 0;
}

.salvar{
    width: 180px;
    height: 46px;
    background-color: #f6511d;
    color: white;
    border: #f6511d;
}

.salvar:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
    border: black solid 1px;
}

.generos_cadastrados{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.generos{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
    align-items: center;
}


.editar{
    width: 125px;
    height: 35px;
    margin-left: 50%;
    background-color: #f6511d;
    color: white;
    border-radius: 20px;
    border: #f6511d;
    transition-duration: 0.5s;
}

.editar:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
    border: black solid 1px;
}

.excluir{
    width: 125px;
    height: 35px;
    background-color: #41b8d2;
    color: black;
    border-radius: 20px;
    border: #41b8d2;
    transition-duration: 0.5s;
}

.excluir:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
    border: black solid 1px;
}

.navegacao{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

#pag_anterior{
    width: 200px;
    height: 35px;
    background-color: #f6511d;
    color: white;
    border-radius: 10px;
    border: #f6511d;
    transition-duration: 0.5s;
}

#pag_anterior:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
    border: black solid 1px;
    
} 

a{
    text-decoration: none;
    color: black;
}