<app-header></app-header>

<main>

    <form [formGroup]="form">
    <div class="titulo_img">
        <h1>Gêneros</h1><br>
        <img src="../../assets/imagens/theater 1.png">
    </div>

    <h2>Cadastrar gênero</h2>

    <div class="input_e_botao">
        <input type="text" name="genero" id="genero" placeholder="Gênero" formControlName="genero" required>
        <button class="salvar" (click)="SalvarGeneros()" *ngIf="!verificarEditar">Salvar</button>
        <button class="salvar" (click)="EditarGenero1()" *ngIf="verificarEditar">Editar</button>
    </div>
</form>

    <div class="generos_cadastrados">

        <div class="generos" *ngFor="let item of generos; index as i;">
            <p>{{item.genero}}</p>
            <button class="editar" (click)="EditarGenero2(item)">Editar</button>
            <button class="excluir" (click)="ExcluirGenero(item.id)">Excluir</button>
        </div>
        
    </div>

    <div class="navegacao">
        <button id="pag_anterior"><a routerLink="/filmes">Página Anterior</a></button>
    </div>

</main>
